
// Blog
.header-bar {
	border-bottom: 1px solid $grey-color-light;
	text-align: center;
	padding-top: 2em;
	padding-bottom: 5em;
	h1 {
		color: var(--global-theme-color);
		font-size: 5em;
	}
}

.post-list {
	margin: 0;
	margin-bottom: 40px;
	padding: 0;
	li {
		border-bottom: 1px solid $grey-color-light;
		list-style: none;
		padding-top: 2em;
		padding-bottom: 2em;
		.post-meta {
			color: var(--global-text-color-light);
			font-size: 0.875em;
			margin-bottom: 0;
		}
		a {
			color: var(--global-text-color);
			text-decoration: none;
			&:hover {
				color: var(--global-theme-color);
			}
		}
	}
}

.pagination {
	.page-item {
		.page-link {
			color: var(--global-text-color);
			&:hover {
				color: $black-color;
			}
		}
		&.active .page-link {
			background-color: var(--global-theme-color);
			&:hover {
				background-color: var(--global-theme-color);
			}
		}
	}
}

