
// Navbar customization
.navbar {
	box-shadow: none;
	border-bottom: 1px solid $grey-color-light;
	background-color: var(--global-bg-color);
	opacity: 0.95;
	height: 3em; /* You must set a specified height */	
}

.navbar.navbar-light {
	a {
		&:hover {
			text-decoration: none;
		}
	}
	.navbar-brand {
		color: var(--global-text-color);
	}
	.navbar-nav .nav-item .nav-link {
		color: var(--global-text-color);
		&:hover {
			color: var(--global-hover-color);
		}
	}
	.navbar-nav .nav-item.active>.nav-link {
		background-color: inherit;
		font-weight: bolder;
		color: var(--global-theme-color);
		&:hover {
			color: var(--global-hover-color);
		}
	}
	.navbar-brand.social {
		padding-bottom: 0;
		padding-top: 0;
		font-size: 1.7em;
		a {
			i::before {
				color: var(--global-text-color);
				-webkit-transition: all 0.2s ease-in-out;
			}
			&:hover {
				i::before {
					color: var(--global-theme-color);
				}
			}
		}
	}
}

.navbar-toggler {
	.icon-bar {
		display: block;
		width: 22px;
		height: 2px;
		background-color: var(--global-text-color);
		border-radius: 1px;
		margin-bottom: 4px;
		transition: all 0.2s;
	}
	.top-bar {
		transform: rotate(45deg);
		transform-origin: 10% 10%;
	}
	.middle-bar {
		opacity: 0;
	}
	.bottom-bar {
		transform: rotate(-45deg);
		transform-origin: 10% 90%;
	}
}

.navbar-toggler.collapsed {
	.top-bar {
		transform: rotate(0);
	}
	.middle-bar {
		opacity: 1;
	}
	.bottom-bar {
		transform: rotate(0);
	}
}



