
.publications {
	h2 {
		font-size: 2em;
		margin-top: 1em;
		padding-top: 0.5em;
		border-top: 1px solid $grey-color-light;
	}
	h3.year {
		font-size: 1.5em;
		// text-align: left;
		margin-top: 1em;
		padding-top: 1em;
		border-top: 1px solid $grey-color-light;
	}	
	ol.bibliography {
		margin: 0;
		// padding: 0;
		padding-top: 1em;
		padding-left: 1.5em;
		list-style: none;

		span::before {
			content: "\2022 ";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
			color: var(--global-text-color); /* Change the color */
			font-weight: bold; /* If you want it to be bold */
			display: inline-block; /* Needed to add space between the bullet and the text */
			width: 1em; /* Also needed for space (tweak if needed) */
			margin-left: -1em; /* Also needed for space (tweak if needed) */
		}
		
		li {
			margin-bottom: 1em;
			.abbr {
				height: 2em;
				margin-bottom: 0.5em;
				abbr {
					display: inline-block;
					background-color: var(--global-theme-color);
					padding-left: 1em;
					padding-right: 1em;
					a {
						color: white;
						&:hover {
							text-decoration: none;
						}
					}
				}
				.award {
					color: var(--global-theme-color) !important;
					border: 1px solid var(--global-theme-color);
				}
			}
			.title {
				font-weight: bold;
				color: var(--global-text-color);
			}
			.author {
				a {
					border-bottom: 1px dashed var(--global-theme-color);
					&:hover {
						border-bottom-style: solid;
						text-decoration: none;
					}
				}
				> em {
					border-bottom: 1px solid;
					font-style: normal;
				}
			}
			.links {
				a.btn {
					color: var(--global-text-color);
					border: 1px solid var(--global-text-color);
					padding-left: 1em;
					padding-right: 1em;
					padding-top: 0.25em;
					padding-bottom: 0.25em;
					&:hover {
						color: var(--global-theme-color);
						border-color: var(--global-theme-color);
					}
				}
				.abstract {
					color: var(--global-theme-color)
				}
				.url {
					color: var(--global-theme-color)
				}
				.to_appear {
					color: var(--global-theme-color)
				}
			}
			.hidden {
				font-size: 0.875em;
				max-height: 0px;
				overflow: hidden;
				text-align: justify;
				-webkit-transition: 0.15s ease;
				-moz-transition: 0.15s ease;
				-ms-transition: 0.15s ease;
				-o-transition: 0.15s ease;
				transition: all 0.15s ease;

				p {
					line-height: 1.4em;
					margin: 10px;
				}
				pre {
					font-size: 1em;
					line-height: 1.4em;
					padding: 10px;
				}
			}
			.hidden.open {
				max-height: 100em;
				-webkit-transition: 0.15s ease;
				-moz-transition: 0.15s ease;
				-ms-transition: 0.15s ease;
				-o-transition: 0.15s ease;
				transition: all 0.15s ease;
			}
			div.abstract.hidden {
				border: dashed 1px var(--global-bg-color);
			}
			div.abstract.hidden.open {
				border-color: var(--global-text-color);
			}
		}
	}
}
