
// Profile

.profile {
	margin-left: 1em;
	width: 100%;

	.address {
		margin-bottom: 5px;
		margin-top: 5px;
		font-family: monospace;
		font-size: 1.2em;
		p {
			display: inline-block;
			margin: 0;
		}
	}
}

@media (min-width: 576px) {
	.profile {
		width: 30%;
		.address {
			p { display: block; }
		}
	}
}


.social-icons {
	text-align: left;
}

.social-icons li {
	display: inline;
}
.social-icons a {
	display: inline-block;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 5px;
	text-indent: -9999px;
}

.scholar {
	background-image: url(../img/iconfinder_scholar.png);
	background-size: 25px;
	width: 25px;
	height: 25px;
}
.github {
	background-image: url(../img/iconfinder_github.png);
	background-size: 25px;
	width: 25px;
	height: 25px;
}
.linkedin {
	background-image: url(../img/iconfinder_linkedin.png);
	background-size: 25px;
	width: 25px;
	height: 25px;
}
.twitter {
	background-image: url(../img/iconfinder_twitter.png);
	background-size: 25px;
	width: 25px;
	height: 25px;
}
.mailto {
	background-image: url(../img/iconfinder_mailto.png);
	background-size: 25px;
	width: 25px;
	height: 25px;
}
