---
layout: default
---

<div class="post">

  <header class="post-header">
    <h2 class="post-title" style="font-weight: 500">
     <!-- {% if site.title == "blank" %}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{% else %}{{ site.title }}{% endif %} -->
     {% if site.title == "blank" %}{{ site.first_name }} {{ site.last_name }}{% else %}{{ site.title }}{% endif %}
    </h2>
	<p class="post-description"></p>
  </header>

  <article>
    {% if page.profile %}
    <div class="profile col-sm float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
      {% if page.profile.image %}
	  <img class="img-fluid z-depth-1 rounded" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}" alt="Tuan Profile Pic">
      {% endif %}
	  <!-- social -->
	  {% if page.social %}
	  <div class="row">
		<ul class="social-icons">
		  <li><a class="mailto" href="mailto:{{ site.email | encode_email }}" title="Mail">Mail</a></li>
		  <li><a class="scholar" href="https://scholar.google.com/citations?user={{ site.scholar_userid }}&hl=en" title="Google Scholar">Google Scholar</a></li>
		  <li><a class="github" href="https://github.com/{{ site.github_username }}" title="Github">Github</a></li>
		  <li><a class="linkedin" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="Linkedin">LinkedIn</a></li>
		  <li><a class="twitter" href="https://twitter.com/{{ site.twitter_username }}" title="Twitter">Twitter</a></li>
		  <li><a class="zotero" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="Zotero">Zotero</a></li>
		</ul>
	  </div>
      {% endif %}
	  <!-- <\!-- address -\-> -->
      <!-- {% if page.profile.address %} -->
      <!-- <div class="address"> -->
      <!--   {{ page.profile.address }} -->
      <!-- </div> -->
	  <!-- {% endif %} -->
    </div>
    {% endif %}

    <div class="clearfix">
		{{ content }}
    </div>

    {% if page.news %}
      {% include news.html %}
    {% endif %}

    <div class="publications" >
	  <h2>Selected Publications</h2>
	  {% bibliography -f papers -q @*[selected=true]* %}
	</div>
  </article>

</div>
