---
layout: default
---

<div class="post">

  <header class="post-header">
    <h2 class="post-title">
     <!-- {% if site.title == "blank" %}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{% else %}{{ site.title }}{% endif %} -->
     {% if site.title == "blank" %}{{ site.first_name }} {{ site.last_name }}{% else %}{{ site.title }}{% endif %}
    </h2>
	<p class="post-description"></p>
  </header>

  <article>
	<div class="row">
	  <div class="col-sm-8 pl-4">
		{{content}}
	  </div>
	  <div class="col-sm-4">
		<img class="img-fluid z-depth-1 rounded" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}" alt="Tuan Profile Pic">
		<div class="row">
		  <ul class="social-icons">
			<li><a class="mailto" href="mailto:{{ site.email | encode_email }}" title="Mail">Mail</a></li>
			<li><a class="scholar" href="https://scholar.google.com/citations?user={{ site.scholar_userid }}&hl=en" title="Google Scholar">Google Scholar</a></li>
			<li><a class="github" href="https://github.com/{{ site.github_username }}" title="Github">Github</a></li>
			<li><a class="linkedin" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="Linkedin">LinkedIn</a></li>
			<li><a class="twitter" href="https://twitter.com/{{ site.twitter_username }}" title="Twitter">Twitter</a></li>
		  </ul>
		</div>
		<div class="row">
		  <ul class="social-icons">
			<li><a class="c_lang" href="https://en.cppreference.com/w/c/language" title="C">C</a></li>
			<!-- <li><a class="cpp_lang" href="https://en.cppreference.com/w/cpp/language" title="C++">C++</a></li> -->
			<li><a class="python" href="https://www.python.org/" title="Python">Python</a></li>
			<li><a class="emacs" href="https://www.gnu.org/software/emacs/" title="Emacs">Emacs</a></li>
			<li><a class="archlinux" href="https://archlinux.org/" title="ArchLinux">ArchLinux</a></li>
		  </ul>
		</div>
		<div class="row">
		  <ul class="social-icons">
			<!-- <li><a class="liverpoolfc" href="" title="LiverpoolFC">Liverpool FC</a></li> -->
			<li><a class="soccer" href="" title="soccer">soccer</a></li>
			<li><a class="tennis" href="" title="tennis">tennis</a></li>
			<!-- <li><a class="running" href="" title="running">running</a></li> -->
			<!-- <li><a class="biking" href="" title="biking">biking</a></li> -->
		  </ul>
		</div>
	  </div>
	</div>
    
    <!-- {% if page.news %} -->
    <!--   {% include news.html %} -->
    <!-- {% endif %} -->

    <div class="publications" >
	  <h2>Selected Publications</h2>
	  {% bibliography -f papers -q @*[selected=true]* %}
	</div>
  </article>

</div>
