---
---

<div class="row">
  <!-- <div class="col-sm-2 abbr"> -->
  <!-- {% if entry.abbr %} -->
  <!--   {% if site.data.venues[entry.abbr] %} -->
  <!--   <abbr class="badge"><a href="{{site.data.venues[entry.abbr].url}}" target="_blank">{{entry.abbr}}</a></abbr> -->
  <!--   {% else %} -->
  <!--   <abbr class="badge">{{entry.abbr}}</abbr> -->
  <!--   {% endif %} -->
  <!-- {% endif %} -->
  <!-- </div> -->

  <div id="{{entry.key}}">
    {% if entry.type == "thesis" %}
      {{reference}}
    {% else %}
      <span class="title">{{entry.title}}</span>
      <div class="author">
        {% for author in entry.author_array %}
          {% assign author_is_self = false %}
          {% if site.scholar.last_name contains author.last %}
            {% if site.scholar.first_name contains author.first %}
              {% assign author_is_self = true %}
            {% endif %}
          {% endif %}

          {% if forloop.length == 1 %}
            {% if author_is_self %}
              <em>{{author.first}} {{author.last}} {{entry.author_array.length}}</em>
            {% else %}
              {{author.first}} {{author.last}} {{entry.author_array.length}}
            {% endif %}
		  {% else if entry.author_array.length == 2 %}
            {% unless forloop.last %}
              {% if author_is_self %}
              <em>{{author.first}} {{author.last}}</em>
              {% else %}
              {{author.first}} {{author.last}}
              {% endif %}
            {% else %}
              {% if author_is_self %}
                and <em>{{author.first}} {{author.last}} {{entry.author_array.length}} {{forloop.length}}</em>
              {% else %}
                and {{author.first}} {{author.last}} {{entry.author_array.length}}
              {% endif %}
            {% endunless %}
          {% else %}
            {% unless forloop.last %}
              {% if author_is_self %}
              <em>{{author.first}} {{author.last}} {{entry.author_array.length}}</em>,
              {% else %}
              {{author.first}} {{author.last}},
              {% endif %}
            {% else %}
              {% if author_is_self %}
                and <em>{{author.first}} {{author.last}}</em>
              {% else %}
                and {{author.first}} {{author.last}} {{entry.author_array.length}}
              {% endif %}
            {% endunless %}
          {% endif %}
        {% endfor %}
      </div>

      <div class="periodical">
      {% if entry.type == "article" %}
        <em>{{entry.journal}}</em>
      {% elsif entry.type == "inproceedings" %}
        <em>In {{entry.booktitle}}</em>
      {% endif %}
      <!-- {% if entry.year %} -->
      <!--   {{entry.year}} -->
      <!-- {% endif %} -->
      </div>
    {% endif %}

    <div class="links">
    {% if entry.abstract %}
      <!-- <a class="abstract btn btn-sm z-depth-0" role="button">Abs</a> -->
      [<a class="abstract">Abstract</a>]
    {% endif %}
    {% if entry.url %}
      [<a href="{{ entry.url }}" target="_blank">Paper</a>]
    {% else%}
      [<a class="to_appear">To Appear</a>]
    {% endif %}
    </div>

    <!-- Hidden abstract block -->
    {% if entry.abstract %}
    <div class="abstract hidden">
      <p>{{ entry.abstract }}</p>
    </div>
    {% endif %}
  </div>
</div>
